.title {
  font-family: var(--font-heading);
  font-size: clamp(1.35rem, 2.7vw, 3.4rem);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.005em;
  color: var(--color-blumine-500);
  text-transform: uppercase;
  margin: 0;
}

.title[data-color="white"] {
  color: #ffffff;
}

.highlight {
  color: var(--color-curious-blue-500);
  font-weight: 800;
}

.title[data-color="white"] .highlight {
  color: #ffffff;
  font-weight: 800;
}
